{% extends 'base1.html' %}

{% block links %}
<style>
    
    .otp{
        height: 75vh;
        overflow-y: auto;
    }
</style>
    
{% endblock  %}
{% block content %}
<div class="otp ">
    <div class=" d-flex justify-content-center mt-5 ">

    <form action="/guest_verify_otp/{{user_for_otp}}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="form2Example1">Enter OTP</label>
            <input type="text" id="form2Example1" name="otp" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

    </div>
</div>
      
      {% comment %} <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">+91 86684833</b></span>
            <div class="d-flex flex-row mt-5"><input type="text" class="form-control" autofocus=""><input type="text" class="form-control"><input type="text" class="form-control"><input type="text" class="form-control"></div>
            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div>
        </div>
    </div> {% endcomment %}
    </form>
{% endblock  %}