{% extends 'base1.html' %}

{% block content %}
<section class="h-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col">
          <div class="card card-registration my-4" style="background-color:grey;">
            <div class="row g-0">
              
              <div class="col-xl-6">
                <div class="card-body mt-5  text-black">
                  <h3 class="mb-5 font-weight-bold ">Reset Password</h3>

                  <form action={% url 'update_password' user.id %}  method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="email">New Password</label>
                      <input type="password" name="pass1" id="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="email">Confirm New Password</label>
                      <input type="password" name="pass2" id="email" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-center pt-3 ">
                  
                        <button type="submit" class="btn btn-dark w-25  ">Reset Password</button>
                      </div>                  
                    </form>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://img.freepik.com/premium-vector/order-online-by-phone-basket-icon-online-shopping-by-iphone-vector-illustration-buy-now-add-cart_642540-99.jpg?w=2000"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
