{% extends 'authentication/base.html' %}

{% block content %}
{% comment %} <section class="h-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col">
          <div class="card card-registration my-4" style="background-color:grey;">
            <div class="row g-0">
              
              <div class="col-xl-6">
                <div class="card-body mt-5  text-black">
                  <h3 class="mb-5 font-weight-bold ">Reset Password</h3>

                  <form action='/_reset_password' method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                   
                    <div class="d-flex justify-content-center pt-3 ">
                  
                        <button type="submit" class="btn btn-dark w-50  ">Reset Password</button>
                      </div>                  
                    </form>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://img.freepik.com/premium-vector/order-online-by-phone-basket-icon-online-shopping-by-iphone-vector-illustration-buy-now-add-cart_642540-99.jpg?w=2000"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <div class="container footer_text">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Reset Password</h2>
        <div class="card my-5">

          <form class="card-body cardbody-color p-lg-5"  action='/_reset_password' method="POST">
            {% csrf_token %}
            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <input type="email" class="form-control" name="email" id="Username" aria-describedby="emailHelp"
                placeholder="Enter your registered email" required>
            </div>
            
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Submit</button></div>
            
          </form>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
