{% extends 'admin/admin_base.html' %}
{% block links %}
{% comment %} <style>
    /* Custom styles for the dropdown options */
    .form-select option {
      background-color: #f8f9fa;
      color: #212529;
      padding: 20px;
      height: 50px;
    }
    
    .form-select option:hover {
      background-color: #e9ecef;
    }
  </style> {% endcomment %}

{% endblock  %}
{% block content %}
<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-lg-8">
              <div class="checkout_details_area mt-50 clearfix">

                  <div class="cart-title">
                      <h2>Add new Product</h2>
                  </div>

                  <form method="POST" action="/add_product" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="row">
                          
                        <div class="col-md-12">
                          <div class="form-outline mb-4 mt-5">
                            <label class="form-label" for="contactBlockName1">Product Name</label>
                              <input type="text" id="contactBlockName1" class="form-control" name="product_name" required>
                          </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-outline mb-4">
                          <label class="form-label" for="contactBlockCategory">Category</label>

                            <select class="form-select" id="contactBlockCategory" name="category">
                                <option value="" selected disabled>Select a category</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                     </div>
                     <div class="form-outline col-md-12 text-left">
                      <label class="form-label" for="contactBlockMessage4">Description</label>
                      <textarea class="form-control" id="contactBlockMessage4" rows="4" name="description"></textarea>
                     </div>
                     <div class="form-outline mb-4 col-md-12 mt-5">
                        <label class="form-label" for="contactBlockPhone3">Product Variant</label>
                     </div>
                     <div class="col-md-6">
                      <div class="form-outline mb-4">
                          <select class="form-select" id="contactBlockStorage" name="storage">
                              <option value="" selected disabled>Select storage</option>
                              {% for storage in storage_options %}
                              <option value="{{ storage }}">{{ storage }}</option>
                              {% endfor %}
                          </select>
                          <label class="form-label" for="contactBlockStorage">Storage</label>
                      </div>
                     </div>
                     <div class="col-md-6">
                      <div class="form-outline mb-4">
                          <select class="form-select" id="contactBlockColour" name="color">
                              <option value="" selected disabled>Select color</option>
                              {% for color in colours %}
                              <option value="{{ color }}">{{ color }}</option>
                              {% endfor %}
                          </select>
                          <label class="form-label" for="contactBlockColour">Color</label>
                      </div>
                  </div>
                        <div class="col-md-6">
                            <div class="form-outline mb-4 text-left">
                                <label class="form-label" for="contactBlockEmail2">Stock</label>
                                <input type="number" id="contactBlockEmail2" class="form-control" name="stock" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline mb-4 text-left">
                              <label class="form-label" for="contactBlockEmail2">Price</label>
                              <input type="number" id="contactBlockEmail2" class="form-control" name="price" required> 
                          </div>
                        </div>
                        <div class="col-md-12 text-left">
                          <div class="form-outline mb-4">
                              <label class="form-label" for="contactBlockImage">Display Image</label>
                              <input type="file" id="contactBlockImage" class="form-control" name="display_image" required>
                          </div>
                      </div>
                  
                    </div>
                    <div class="form-outline mb-4 mt-5">
                        <label class="form-label" for="contactBlockPhone3">Additional Images</label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-outline mb-4 text-left">
                                <label class="form-label" for="contactBlockEmail2">Images</label>
                                <input type="file" id="contactBlockEmail2" class="form-control" name="images" multiple>
                            </div>
                        </div>
                    </div>
                      <button class='btn btn-outline-success col-md-12  px-4 mt-5 ' type='submit'>Add Product</button>
                      <div class="form-outline mb-4 mt-5">
                      </div>
                  </form>
              </div>
          </div>
          
      </div>
  </div>
</div>

{% endblock  %}