{% extends 'admin/admin_base.html' %}

{% block content %}
<div class="container-fluid my-5  d-flex  justify-content-center">
    <div class="card card-1">
        <div class="card-header bg-white">
            <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                <div class="col my-auto     text-center"> <h4 class="mb-0"> USER : <span class="change-color text-uppercase">{{order.user}}</span> </h4> </div>

            </div> 
            <div class="mt-3 text-center">
                <h5>ORDER STATUS:{{order.payment_status}}</h5>
                {% if order.payment_status != 'CANCELLED'  %}
                <div class="form-group">
                  <select id="paymentStatusDropdown" class="form-control">
                    
                    <option value="ORDERED" {% if order.payment_status == 'ORDERED' %}selected{% endif %}>ORDERED</option>
                    <option value="SHIPPED" {% if order.payment_status == 'SHIPPED' %}selected{% endif %}>SHIPPED</option>
                    <option value="DELIVERED" {% if order.payment_status == 'DELIVERED' %}selected{% endif %}>DELIVERED</option>
                    <option value="RETURNED" {% if order.payment_status == 'RETURNED' %}selected{% endif %}>RETURNED</option>
                    <option value="PENDING" {% if order.payment_status == 'PENDING' %}selected{% endif %}>PENDING</option>
                  </select>
                </div>
                {% endif %}
              </div>
              
              
        </div>
                </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between mb-3">
                <div class="col-auto"> <h6 class="color-1 mb-0 change-color">Ordered Items</h6> </div>
                <div class="col-auto  "> <small>Order Id : {{order.id}}</small> </div>
            </div>

            {% for item in order.orderlist_set.all %}
            <div class="row mt-4">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{item.product.displayimage.url}}" width="135" height="135" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row  my-auto flex-column flex-md-row">
                                        <div class="col my-auto"> <h6 class="mb-0"> {{item.product.product.name}}</h6>  </div>
                                        <div class="col my-auto"> <small>colour : {{item.product.color}}</small></div>
                                        <div class="col my-auto"> <small>Storage : {{item.product.storage}}</small></div>
                                        <div class="col my-auto"> <small>Qty : {{item.quantity}}</small></div>
                                        <div class="col my-auto"><h6 class="mb-0">${{item.price}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
           


            <div class="row mt-4">
                <div class="col">
                    <div class="row justify-content-between">
                        <div class="col-auto"><p class="mb-1 text-dark"><b>Invoice Details</b></p></div>
                        <div class="flex-sm-col text-right col"> <p class="mb-1"><b>Total</b></p> </div>
                        <div class="flex-sm-col col-auto"> <p class="mb-1">{{order.total_price}}</p> </div>
                    </div>
                   
                    
                    <div class="row justify-content-between">
                        <div class="flex-sm-col text-right col"><p class="mb-1"><b>Delivery Charges</b></p></div>
                        <div class="flex-sm-col col-auto"><p class="mb-1">Free</p></div>
                    </div>
                </div>
            </div>
            <div class="row invoice ">
                <div class="col"><p class="mb-1"> Invoice Number : {{order.id}}</p><p class="mb-1">Invoice Date : {{order.order_date}}</p></div>
            </div>
        </div>
        <div class="card-footer">
            <div class="jumbotron-fluid">
                <div class="row justify-content-between ">
                    <div class="col-auto my-auto "><h2 class="mb-0 font-weight-bold">TOTAL PAID</h2></div>
                    <div class="col-auto my-auto ml-auto"><h3 class="display-5 ">{{order.total_price}}</h3></div>
                </div>
                <div class="row mb-3 mt-3 mt-md-0">
                    <div class="col-auto border-line"> <small class="text-white">PAN:AA02hDW7E</small></div>
                    <div class="col-auto border-line"> <small class="text-white">CIN:UMMC20PTC </small></div>
                    <div class="col-auto "><small class="text-white">GSTN:268FD07EXX </small> </div>
                </div>
                <div class="row mb-3 mt-3 mt-md-0">
                        {% if order.payment_status == 'ORDERED' %}
                            {% if order.payment_method == 'PREPAID' %}
                            <a href="#" onclick="initiateRefundAndCancelOrder('{{ order.id }}')">  
                            <button class="btn btn-outline-danger">Cancel Order</button>
                            </a>
                            {% elif order.payment_method == 'WALLET' %}
                            <a href="#" onclick="WalletRefundAndCancelOrder('{{ order.id }}')">  
                            <button class="btn btn-outline-danger ">Cancel Order</button>
                            </a>
                            {% else %}
                            <a href="#"  onclick="cancelOrder('{{ order.id }}')" >  
                            <button class="btn btn-outline-danger">Cancel Order</button>
                            </a>
                            {% endif %}
                        {% endif %}
                        
                        <div class="col text-right">
                            
                                <button id="submitBtn" class='btn btn-outline-success px-5'>Submit</button>
                            
                        </div>
                    

                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
  $(document).ready(function() {
    $('#submitBtn').click(function() {
      var selectedOption = $('#paymentStatusDropdown').val();

      if (selectedOption === "RETURNED" ) {
      $.ajax({
        url: '{% url "return_order" %}',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: { payment_status: selectedOption, order_id: '{{ order.id }}' },
        success: function(response) {
          alert("Order returned succesfully");
          window.location.href = '{% url "pending_orders" %}';

          // Handle the success response if needed
        },
        error: function(xhr, status, error) {
          console.log('Update order status error:', error);
          // Handle the error if needed
        }
      });
    }
    else{
      // Send the selected option to the server using AJAX
      $.ajax({
        url: '{% url "update_order" %}',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: { payment_status: selectedOption, order_id: '{{ order.id }}' },
        success: function(response) {
          alert(response.message);
          window.location.href = '{% url "orderlist" %}';

          // Handle the success response if needed
        },
        error: function(xhr, status, error) {
          console.log('Update order status error:', error);
          // Handle the error if needed
        }
      });
    }
    });
  });
</script>
<script>
    function initiateRefundAndCancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
      // AJAX call to initiate refund
      $.ajax({
        url: '/initiate_refund',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: { order_id: orderId },
        success: function(response) {
          alert('Refund inititated, will be back in 2-7 days')
          $.ajax({
            url: '/_cancel_order' ,
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { order_id: orderId },
            success: function(response) {
              alert('Order has been succesfully cancelled')
              location.reload();
              // Order canceled successfully
              // Handle any additional actions or update the UI as needed
            },
            error: function(xhr, status, error) {
              console.log('Cancel order error:', error);
              // Handle the cancel order error if needed
            }
          });
        },
        error: function(xhr, status, error) {
          console.log('Refund error:', error);
          var errorMessage = xhr.responseJSON.error_message;
          alert(errorMessage);
      }
      });
     }
    }
    
    function WalletRefundAndCancelOrder(orderId) {
      if (confirm("Are you sure you want to cancel this order?")) {
      // AJAX call to initiate refund
      $.ajax({
        url: '/wallet_refund',
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: { order_id: orderId },
        success: function(response) {
            $.ajax({
              url: '/_cancel_order' ,
              method: 'POST',
              headers: { 'X-CSRFToken': '{{ csrf_token }}' },
              data: { order_id: orderId },
              success: function(response) {
                alert('Order has been succesfully cancelled')
                location.reload();
                // Order canceled successfully
                // Handle any additional actions or update the UI as needed
              },
              error: function(xhr, status, error) {
                console.log('Cancel order error:', error);
                // Handle the cancel order error if needed
              }
            });
        },
        error: function(xhr, status, error) {
            console.log('Refund error:', error);
            var errorMessage = xhr.responseJSON.error_message;
            alert(errorMessage);
        }
    });
  }
  }
    function cancelOrder(orderId) {
     // Display a confirmation dialog
    if (confirm("Are you sure you want to cancel this order?")) {
      // AJAX call to cancel the order
      $.ajax({
        url: '/_cancel_order' ,
        method: 'POST',
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        data: { order_id: orderId },
        success: function(response) {
          alert('Order has been succesfully cancelled')
          location.reload();
          // Order canceled successfully
          // Handle any additional actions or update the UI as needed
        },
        error: function(xhr, status, error) {
          console.log('Cancel order error:', error);
          // Handle the cancel order error if needed
        }
      });
     }
    }
    
  </script>


{% endblock  %}