{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="{% static 'css/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{%static 'js/zoom/magnify.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Vc0ZK5rnZMOWwuTnb0MlJWh7RG5pfz1aEYrlQmSLEELcJFscK7Y6kVH+MTEx0zjZ+n8oPV4wt5WY1aegjQr8A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Title  -->
    <title>iCart</title>
    {% block links %}

    {% endblock  %}

    <!-- Favicon  -->
    <link rel="icon" href="https://cdn.pixabay.com/photo/2022/08/24/23/12/apple-7408883_1280.png">
    <link rel="stylesheet" href="{% static 'css/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <!-- Add this in your template's <head> section -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

    <style>
      .navbar {
        height: 71px; /* Adjust the desired height value */
      }

      .navbar-nav .nav-link {
        line-height: 71px; /* Match the line-height to the navbar height */
        
      }
      .nav-icons{
        font-size: 20px; 
        
      }
      .mobile-nav{
        z-index: 99999999;
        
      }
      /* Add this CSS to make the cart item count smaller */
      .cart-item-count {
        font-size: 15px;
        position: absolute;
        top: -4px;
        right: 1px;
        color: black;
        border-radius: 50%;
      }

      /* Add this CSS to align the count on top of the cart icon */
      .nav-icons {
        position: relative;
      }

      /* Add this CSS to adjust the position of the cart icon and count */
      .nav-icons i {
        margin-right: 5px;
      }

      .navbar-nav .nav-item.active .nav-link {
        color: #fbb710; /* Change this to your desired color */
      }
      
    </style>

</head>

<body style="display: flex; flex-direction: column; min-height: 100vh;">
  
  <!-- Image and text -->
  <nav class="navbar navbar-expand-lg sticky-top  navbar-light bg-light" style="font-family: Century Gothic;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNRBmn2cV7dOVgAiWfLJmNrPGpG2EoA49guw&usqp=CAU" width='50' height='50' alt="" >       
    
    
    
    <div class="mobile-nav ">
      
      <!-- Navbar Brand -->
      <div class="amado-navbar-brand  ">
          <a href="/"><img src="" alt=""></a>
          <div class='d-flex'>

            <img class='mb-3 ml-auto' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNRBmn2cV7dOVgAiWfLJmNrPGpG2EoA49guw&usqp=CAU" width='50' height='50' alt="" >     
            <span class='mt-2'>ICART</span>
          </div>
    
      </div>
      <!-- Navbar Toggler -->
      <div class="amado-navbar-toggler">
          <span></span><span></span><span></span>
      </div>
   </div>


   {% with current_path=request.path %}
   <div class="collapse navbar-collapse ml-5">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item{% if current_path == '/' %} active{% endif %}">
              <a class="nav-link ml-5 font-weight-bold" href="/">HOME</a>
            </li>
            <li class="nav-item{% if current_path == '/shop/' %} active{% endif %}">
              <a class="nav-link ml-5 font-weight-bold" href="/shop">SHOP</a>
            </li>
            <li class="nav-item{% if current_path == '/cart' %} active{% endif %}">
              <a class="nav-link ml-5 font-weight-bold" href="/cart">CART</a>
            </li>
            <li class="nav-item{% if current_path == '/wishlist' %} active{% endif %}">
              <a class="nav-link ml-5 font-weight-bold" href="/wishlist">WISHLIST </a>
            </li>
            <li class="nav-item{% if current_path == '/profile_details' %} active{% endif %}">
              <a class="nav-link ml-5 font-weight-bold" href="/profile_details">PROFILE </i></a>
            </li>
        </ul>
        <ul class="navbar-nav nav-icons">
          <li class="nav-item  active px-2">
            <a href="/cart">
              <div class="nav-link nav-icons" >

                <i class="fa fa-shopping-cart nav-icons"></i></a>
                {% if cart_item_count > 0 %}
                <span class="cart-item-count">{{ cart_item_count }}</span>
                {% endif %}              
              </div>
            </li>
            <li class="nav-item  active px-2">
              <a href="/wishlist">
                <div class="nav-link nav-icons" >
                  
                  <i class="fa fa-heart nav-icons"></i></a>
                  {% if wishlist_item_count > 0 %}
                  <span class="cart-item-count">{{ wishlist_item_count }}</span>
                  {% endif %}              
                  </div>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item  px-2">
              <a href="/profile_details">
                <div class="nav-link nav-icons user-authenticated">
                    <i class="fa fa-user "></i>
                    <span class='text-uppercase '>{{ request.user.username }}</span>
                  </div>
                </a>
          </li>
          {% else %}
          <li class="nav-item  active px-2">
          <a href="/profile_details">
            <div class="nav-link nav-icons" >

              <i class="fa fa-user nav-icons"></i></a>
            </div>
          </li>
        {% endif %}
        </ul>
    </div>
    {% endwith %}
</nav>

  


{% block home_slider %}
{% endblock  %}

  <div class="content" style="flex: 1;">



    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix  ">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav ">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="/"><img src="" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area bg-light clearfix  "  >
            <!-- Close Icon -->
            <div class="nav-close" >
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
           
            <!-- Amado Nav -->
            <nav class="amado-nav " style="font-family: Century Gothic;">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/profile_details">My Profile</a></li>
                    
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100" style="font-family: Century Gothic;">
              {% if request.user.is_authenticated %}
                <a href="/signout" class="btn amado-btn  mb-15">Logout</a>
              {% else %}
                <a href="/signin" class="btn amado-btn mb-15">Login</a>
              {% endif %}
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100" style="font-family: Century Gothic;">
                <a href="/cart" class="cart-nav"><img src="" alt=""> Cart({{ cart_item_count }}) </a>
                <a href="/wishlist" class="fav-nav"><img src="" alt=""> Favourite({{wishlist_item_count}})</a>
            </div>
         
        </header>
        <!-- Header Area End -->

       {% block content %}

       {% endblock  %}
    </div>
    <footer class="bg-dark text-center text-white">
        <!-- Footer Links -->
        <div class="container-fluid  text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mt-3 mt-md-0 ">
              <!-- Content -->
              <p class="h2 mt-3 footer_text" style="font-family: Century Gothic;">a complete<br>apple<br>solution on<br>your<br>fingertips.</p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-6 mt-5 mb-md-0 mb-3">
              <p class="mb-2" style="font-family: Century Gothic;">Drop your email here to get the latest updates on Apple products</p>
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Enter your email here" aria-label="Search" aria-describedby="search-addon">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-primary">Submit</button>
                </div>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mt-5 mb-md-0 mb-3  ">
              <!-- Links -->
              <h5 class="py-2 footer_text ">Contact Us</h5>
              <ul class="list-unstyled">
                <li class="footer_text">
                  icart@yahoo.co.in
                </li>
                <li class="footer_text ">
                  +919546293453
                </li>
                <li>
                  <div class="d-flex justify-content-center">
                    <!-- Facebook -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>
                    <!-- Twitter -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>
                    <!-- Google -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Bottom Text -->
        <div class="text-right py-2" style="font-family: Century Gothic; background-color: rgba(0, 0, 0, 0.2);">
          If you need any assistance regarding Apple products, we're happy to serve you.
        </div>
        <!-- Bottom Text -->
      </footer>
      
<!-- Add this at the end of your template, before the closing </body> tag -->
<!-- Add this at the end of your template, before the closing </body> tag -->
<script>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %}
        Swal.fire({
          icon: 'success',
          title: 'Success!',
          text: '{{ message }}',
          showConfirmButton: false,
          timer: 1500
        });
      {% elif message.tags == 'error' %}
        Swal.fire({
          icon: 'error',
          title: 'Error!',
          text: '{{ message }}',
          showConfirmButton: true
        });
      {% endif %}
    {% endfor %}
  {% endif %}
</script>



    

</body>

</html>