{% extends 'base1.html' %}
{% load static %}

{% block links %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





{% endblock  %}
{% block content %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8" style="font-family: Century Gothic;">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="cart_product_img">
                                    <a href="#"><img src="{{product.product.displayimage.url}}" alt="Product"></a>

                                </td>
                               
                                <td class="cart_product_desc">
                                    <h5>{{product.product.product.name}}</h5>
                                    <h5>({{product.product.color}},{{product.product.storage}})</h5>
                                    <a href="{% url 'removecart' product.id %}"><button class="btn btn-outline-secondary mt-3">Delete</button></a>

                                </td>
                                <td class="price" >
                                    <span id="price-{{ product.id }}">${{product.price}}</span>
                                </td>
                                <td class="qty">
                                    <div class="qty-btn d-flex">
                                        <p>Qty</p>
                                        <div class="quantity">
                                            <span class="qty-minus" onclick="decrementQuantity({{ product.id }}, {{ product.quantity }});">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </span>
                                            <input type="number" class="qty-text"  id="qty{{ product.id }}" step="1" min="1" max="{{ product.product.stock }}" name="quantity" value="{{ product.quantity }}" onchange="updateQuantity({{ product.id }}, this.value);">
                                            <span class="qty-plus" onclick="incrementQuantity({{ product.id }}, {{ product.quantity }}, {{ product.product.stock }});">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4" style="font-family: Century Gothic;">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span id='total_price'>${{total_price}}</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        {% if cart_id.coupon  %}
                        <li><span class='font-weight-bold'>Coupon</span> <a href="{% url 'delete_coupon' cart_id.id %}"><span>{{cart_id.coupon}}</span></li></a>
                        {% endif %}
                        <li><span>total:</span> <span id='discount_price'>${{discount_price}}</span></li>
                    </ul>
                    {% if not cart_id.coupon  %}
                    
                    
                    <form  method='POST'>
                        {% csrf_token %}
                        <span >Have Coupon?</span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name='coupon' placeholder="Coupon Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button type='submit' class="btn btn-outline-success" id="basic-addon2">apply</button>
                            </div>
                          </div>

                    </form>
                    {% endif %}
                    <div class="cart-btn mt-100">
                        <a href="{%url 'checkout' %}" class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function updateQuantity(productId, quantity) {
        $.ajax({
            type: "POST",
            url: "/update_quantity",
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            data: {
                product_id: productId,
                quantity: quantity
            },
            dataType: 'json',
            success: function(response) {
                if (response.success) {
                    $("#price-" + productId).text(response.price);
                    $("#qty" + productId).text(response.quantity);
                    $("#total_price" ).text(response.total_price);
                    $("#discount_price" ).text(response.discount_price);
                    console.log("Quantity updated successfully!");
                    {% comment %} location.reload(); {% endcomment %}
                } else {
                    console.log("Quantity update failed:", response.message);
                    alert(response.message); // Display the error message to the user
                }
            },
            error: function(xhr, errmsg, err) {
                console.log("Error updating quantity:", errmsg);
            }
        });
    }

    function incrementQuantity(productId, quantity, stock) {
        var effect = document.getElementById('qty' + productId);
        var qty = parseInt(effect.value);
        if (!isNaN(qty) && qty < stock) {
            effect.value++;
            updateQuantity(productId, effect.value);
        } else {
            alert("Maximum stock limit reached."); // Display a message when maximum stock limit is reached
        }
    }

    function decrementQuantity(productId, quantity) {
        var effect = document.getElementById('qty' + productId);
        var qty = parseInt(effect.value);
        if (!isNaN(qty) && qty > 1) {
            effect.value--;
            updateQuantity(productId, effect.value);
        }
    }
</script>
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

{% endblock  %}