{% extends 'base1.html' %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form action="{% url 'edit_address' address.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" name='fullname' id="company" placeholder="Full Name" value="{{address.fullname}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="company" name='address' placeholder="Address" value="{{address.address}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="email" name='street' placeholder="Street" value="{{address.street}}">
                            </div>
                            
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control mb-3" id="street_address" name='city' placeholder="City" value="{{address.city}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="city" placeholder="State" name='state' value="{{address.state}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="zipCode" name='pincode' placeholder="Pin Code" value="{{address.pincode}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="number" class="form-control" name='phone' placeholder="Phone No" value="{{address.contact}}">
                            </div>
                           

                           
                        </div>
                        <button class='btn btn-outline-success ml-4 px-4 mt-5' type='submit'>submit</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>$140.00</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>$140.00</span></li>
                    </ul>

                    <div class="payment-method">
                        <!-- Cash on delivery -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="cod" checked>
                            <label class="custom-control-label" for="cod">Cash on Delivery</label>
                        </div>
                        <!-- Paypal -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
                        </div>
                    </div>

                    <div class="cart-btn mt-100">
                        <a href="#" class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}