{% extends 'base1.html' %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix" >

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form action="{% url 'edit_address' address.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" name='fullname' id="company" placeholder="Full Name" value="{{address.fullname}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="company" name='address' placeholder="Address" value="{{address.address}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="email" name='street' placeholder="Street" value="{{address.street}}">
                            </div>
                            
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control mb-3" id="street_address" name='city' placeholder="City" value="{{address.city}}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="city" placeholder="State" name='state' value="{{address.state}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="zipCode" name='pincode' placeholder="Pin Code" value="{{address.pincode}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="number" class="form-control" name='phone' placeholder="Phone No" value="{{address.contact}}">
                            </div>
                           

                           
                        </div>
                        <button class='btn btn-outline-success ml-4 px-4 mt-5' type='submit'>submit</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock  %}