{% extends 'profile_base.html' %}
{% load static %}

{% block content %}
<div class=" mt-5 ml-5 col-9 rounded">
    <nav class="navbar navbar-light bg-light  justify-content-between">
      <a class="navbar-brand font-weight-bold"  style="font-family: Century Gothic;">My Orders</a>
    
    
      
    </nav>
    {% for order in orders %}
   <section class="py-2 gradient-custom">
    <div class="container  h-100 footer_text">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-4">
             
              <h5 class="text-muted mb-0">Order Id  : {{order.id}}</h5>
              

              
            </div>
            
            <div class="card-body p-4 col-12">
              <div class="d-flex justify-content-between align-items-center mb-4">
                {% if order.payment_status == "CANCELLED" %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-danger h5' id="payment_status">{{order.payment_status}}</span></p>
                {% else  %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-muted h5' id="payment_status">{{order.payment_status}}</span></p>
                {% endif %}
                
              </div>
              
              
             
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Expected Delivery : {{order.delivery_date.date}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total:</span> ${{order.total_price}}</p>
              </div>
  
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Ordered Date : {{order.order_date.date}}</p>
                <p class="text-muted mb-0">Payment  : {{order.payment_method}}</p>

              </div>
  
              
              <a href="{% url 'user_order_detail' order.id %}"><button class='px-2 btn mt-3'>View Details</button></a>
              
              
            </div>
          
            
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}
 
      <!-- Pagination -->
      {% if orders.has_other_pages %}
      <div class="row w-100 col-12 mb-3">
        <div class="col-12">
          
          <nav aria-label="navigation">
            <ul class="pagination justify-content-center mt-50">
              {% if orders.has_previous %}
             
                <li class="page-item"><a class="page-link" href="?page={{ orders.previous_page_number }}"><</a></li>
              {% endif %}
    
              
              <li class="page-item active"><a class="page-link" href="?page={{ orders.number }}">{{ orders.number }}</a></li>
               
    
              {% if orders.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    {% endif %}
    </div>
<script>
  function initiateRefundAndCancelOrder(orderId) {
    // AJAX call to initiate refund
    $.ajax({
      url: '/initiate_refund',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Refund inititated, will be back in 2-7 days')
        cancelOrder(orderId);
      },
      error: function(xhr, status, error) {
        console.log('Refund error:', error);
        // Handle the refund error if needed
      }
    });
  }
  
  function cancelOrder(orderId) {
    // AJAX call to cancel the order
    $.ajax({
      url: '/_cancel_order' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Order has been succesfully cancelled')
        location.reload();
        // Order canceled successfully
        // Handle any additional actions or update the UI as needed
      },
      error: function(xhr, status, error) {
        console.log('Cancel order error:', error);
        // Handle the cancel order error if needed
      }
    });
  }
  
</script>



<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>

{% endblock  %}