{% extends 'profile_base.html' %}
{% load static %}
{% block links %}
<style>

 

#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: rgb(252, 103, 49);
    padding-left: 0px;
    margin-top: 3vh
}

#progressbar li {
    list-style-type: none;
    font-size: x-small;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: rgb(160, 159, 159);
}

#progressbar #step1:before {
    content: "";
    color: rgb(252, 103, 49);
    width: 5px;
    height: 5px;
    margin-left: 0px !important;
    /* padding-left: 11px !important */
}

#progressbar #step2:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-left: 32%;
}

#progressbar #step3:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 32% ; 
    /* padding-right: 11px !important */
}

#progressbar #step4:before {
    content: "";
    color: #fff;
    width: 5px;
    height: 5px;
    margin-right: 0px !important;
    /* padding-right: 11px !important */
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #ddd;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
}

#progressbar li:after {
    content: '';
    height: 2px;
    background: #ddd;
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 1px;
    z-index: 1;
}
.progress-track{
    padding: 0 8%;
}
#progressbar li:nth-child(2):after {
    margin-right: auto;
}

#progressbar li:nth-child(1):after {
    margin: auto;
}

#progressbar li:nth-child(3):after {
    float: left;
    width: 68%;
}
#progressbar li:nth-child(4):after {
    margin-left: auto;
    width: 132%;
}

#progressbar  li.active{
    color: black;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: rgb(252, 103, 49);
}
</style>
{% endblock  %}
{% block content %}
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100 footer_text">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
             
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">{{order.user}}</span>!</h5>
              

              
            </div>
            
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="small text-muted mb-0">Order Id  : {{order.id}}</p>
                {% if order.payment_status == "CANCELLED" %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-danger h5' id="payment_status">{{order.payment_status}}</span></p>
                {% else  %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-muted h5' id="payment_status">{{order.payment_status}}</span></p>
                {% endif %}
                
              </div>
              
              {% for order in order.orderlist_set.all %}
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{order.product.displayimage.url}}"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{order.product.product.name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{order.product.color}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Capacity: {{order.product.storage}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{order.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">${{order.price}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
              {% endfor %}
             
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> ${{order.total_price}}</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Payment Id : {{order.payment_id}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $</p>
              </div>
  
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Ordered Date : {{order.order_date.date}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges:</span> Free</p>
              </div>
  
              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0">Expected Delivery : {{order.delivery_date.date}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Order Total:</span> {{order.total_price}}</p>
              </div>
              <div class="d-flex justify-content-between mb-5">
                {% if order.payment_status == "DELIVERED" %}
                <div class=" "><a href="{%url 'download_invoice' order.id%}"> <p>Download Invoice</p></a></div>
                {% endif %}
              </div>
              {% if order.payment_status != "RETURNED" and  order.payment_status != "CANCELLED" and  order.payment_status != "PENDING" %}
                  <button id="toggleButton" class='btn'>Track Order</button>
                  {% endif %}
              <div id="extraDiv" style="display: none;">
               
                <div class="row d-flex justify-content-center">
                <div class="col-12">
                {% if order.payment_status == "ORDERED" %}
                <div class="progress-track">
                  <ul id="progressbar">
                      <li class="step0 active " id="step1">Ordered</li>
                      <li class="step0  text-center" id="step2">Shipped</li>
                      <li class="step0  text-right" id="step3">On the way</li>
                      <li class="step0 text-right" id="step4">Delivered</li>
                  </ul>
              </div>
                {% endif %}
                {% if order.payment_status == "SHIPPED" %}
                <ul id="progressbar">
                  <li class="step0 active " id="step1">Ordered</li>
                  <li class="step0  active text-center" id="step2">Shipped</li>
                  <li class="step0 active text-right" id="step3">On the way</li>
                  <li class="step0 text-right" id="step4">Delivered</li>
              </ul>
                {% endif %}
                {% if order.payment_status == "DELIVERED" %}
                <ul id="progressbar">
                  <li class="step0 active " id="step1">Ordered</li>
                  <li class="step0 active text-center" id="step2">Shipped</li>
                  <li class="step0 active text-right" id="step3">On the way</li>
                  <li class="step0 active text-right" id="step4">Delivered</li>
              </ul>
                {% endif %}
                </div>
            </div>
           
            
            </div>
            </div>
            <div class='ml-4 mb-2'>
         
              {% if order.payment_status == 'DELIVERED' %}
                <a href="#"  onclick="addToWallet('{{ order.id }}')" >  
                <button class="btn btn-outline-danger">Return Order</button>
                </a>       
              {% elif order.payment_status == 'ORDERED' %}
                  {% if order.payment_method == 'PREPAID' %}
                  <a href="#" onclick="initiateRefundAndCancelOrder('{{ order.id }}')">  
                  <button class="btn btn-outline-danger ">Cancel Order</button>
                  </a>
                  {% elif order.payment_method == 'WALLET' %}
                  <a href="#" onclick="WalletRefundAndCancelOrder('{{ order.id }}')">  
                  <button class="btn btn-outline-danger ">Cancel Order</button>
                  </a>
                  {% else %}
                  <a href=""  onclick="cancelOrder('{{ order.id }}')" >  
                  <button class="btn btn-outline-danger">Cancel Order</button>
                  </a>
                  {% endif %}
              {% endif %}           
             </div>
            <div class="card-footer border-0 px-4 py-5 "
              style="background-color: light-gray; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">${{order.total_price}}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
const toggleButton = document.getElementById('toggleButton');
const extraDiv = document.getElementById('extraDiv');

toggleButton.addEventListener('click', () => {
  if (extraDiv.style.display === 'none') {
    extraDiv.style.display = 'block';
  } else {
    extraDiv.style.display = 'none';
  }
});

</script>
<script>
  function initiateRefundAndCancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to initiate refund
    $.ajax({
      url: '/initiate_refund',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
          alert('Refund initiated, will be back in 2-7 days');
          $.ajax({
            url: '/_cancel_order' ,
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { order_id: orderId },
            success: function(response) {
              alert('Order has been succesfully cancelled')
              location.reload();
              // Order canceled successfully
              // Handle any additional actions or update the UI as needed
            },
            error: function(xhr, status, error) {
              console.log('Cancel order error:', error);
              // Handle the cancel order error if needed
            }
          });
      },
      error: function(xhr, status, error) {
          console.log('Refund error:', error);
          var errorMessage = xhr.responseJSON.error_message;
          alert(errorMessage);
      }
  });
}
}
  
  function WalletRefundAndCancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to initiate refund
    $.ajax({
      url: '/wallet_refund',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
          $.ajax({
            url: '/_cancel_order' ,
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { order_id: orderId },
            success: function(response) {
              alert('Order has been succesfully cancelled')
              location.reload();
              // Order canceled successfully
              // Handle any additional actions or update the UI as needed
            },
            error: function(xhr, status, error) {
              console.log('Cancel order error:', error);
              // Handle the cancel order error if needed
            }
          });
      },
      error: function(xhr, status, error) {
          console.log('Refund error:', error);
          var errorMessage = xhr.responseJSON.error_message;
          alert(errorMessage);
      }
  });
}
}
  
  function cancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to cancel the order
    $.ajax({
      url: '/_cancel_order' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Order has been succesfully cancelled')
        location.reload();
        // Order canceled successfully
        // Handle any additional actions or update the UI as needed
      },
      error: function(xhr, status, error) {
        console.log('Cancel order error:', error);
        // Handle the cancel order error if needed
      }
    });
  }
}
  
</script>

<script>
  function returnOrder(orderId) {
    // Perform cancellation logic here
    // ...
    {% comment %} $.ajax({
      url: '/_cancel_order' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Order has been succesfully R')
        location.reload();
        // Order canceled successfully
        // Handle any additional actions or update the UI as needed
      },
      error: function(xhr, status, error) {
        console.log('Cancel order error:', error);
        // Handle the cancel order error if needed
      }
    }); {% endcomment %}
  
    // Add money to the wallet
    addToWallet(orderId);
  }
  
  function addToWallet(orderId) {
    if (confirm("Are you sure you want to return this order?")) {
    // Logic to add the money to the wallet
    $.ajax({
      url: '/initiate_return' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        $("#payment_status" ).text(response.payment_status);
        location.reload();
      },
      error: function(xhr, status, error) {
        console.log('Return order error:', error);
        // Handle the cancel order error if needed
      }
    }); 
    }
    // Display a success message
    
  }
  
</script>

<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
{% endblock  %}