{% extends 'profile_base.html' %}

{% block links %}
<style>


body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #8C9EFF;
  background-repeat: no-repeat;
}

.card {
  z-index: 0;
  background-color: #ECEFF1;
  padding-bottom: 20px;
  margin-top: 90px;
  margin-bottom: 90px;
  border-radius: 10px;
}

.top {
  padding-top: 40px;
  padding-left: 13% !important;
  padding-right: 13% !important;
}

/*Icon progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455A64;
  padding-left: 0px;
  margin-top: 30px;
} 

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar .step0:before {
  font-family: FontAwesome;
  content: "\f10c";
  color: #fff;
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #C5CAE9;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 12px;
  background: #C5CAE9;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: -1;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}

#progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after {
  left: -50%;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #651FFF;
}

#progressbar li.active:before {
  font-family: FontAwesome;
  content: "\f00c";
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.icon-content { 
  padding-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .icon-content {
      width: 50%;
  }
}
</style>
{% endblock  %}
{% block content %}
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100 footer_text">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
             
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">{{order.user}}</span>!</h5>
              

              
            </div>
            
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="small text-muted mb-0">Order Id  : {{order.id}}</p>
                {% if order.payment_status == "CANCELLED" %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-danger h5' id="payment_status">{{order.payment_status}}</span></p>
                {% else  %}
                <p class="small text-muted mb-0 ">Order Status  : <span class='text-muted h5' id="payment_status">{{order.payment_status}}</span></p>
                {% endif %}
                
              </div>
              
              {% for order in order.orderlist_set.all %}
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="{{order.product.displayimage.url}}"
                        class="img-fluid" alt="Phone">
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0">{{order.product.product.name}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">{{order.product.color}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Capacity: {{order.product.storage}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">Qty: {{order.quantity}}</p>
                    </div>
                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                      <p class="text-muted mb-0 small">${{order.price}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
              {% endfor %}
             
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> ${{order.total_price}}</p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0">Payment Id : {{order.payment_id}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $</p>
              </div>
  
              <div class="d-flex justify-content-between">
                <p class="text-muted mb-0">Ordered Date : {{order.order_date.date}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges:</span> Free</p>
              </div>
  
              <div class="d-flex justify-content-between mb-5">
                <p class="text-muted mb-0">Expected Delivery : {{order.delivery_date.date}}</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Order Total:</span> {{order.total_price}}</p>
              </div>
              <div class="d-flex justify-content-between mb-5">
                {% if order.payment_status == "DELIVERED" %}
                <div class=" "><a href="{%url 'download_invoice' order.id%}"> <p>Download Invoice</p></a></div>
                {% endif %}
              </div>
              {% if order.payment_status != "RETURNED" and  order.payment_status != "CANCELLED" and  order.payment_status != "PENDING" %}
                  <button id="toggleButton" class='btn'>Track Order</button>
                  {% endif %}
              <div id="extraDiv" style="display: none;">
               
                <div class="row d-flex justify-content-center">
                <div class="col-12">
                {% if order.payment_status == "ORDERED" %}
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class=" step0"></li>
                    <li class=" step0"></li>
                    <li class="step0"></li>
                </ul>
                {% endif %}
                {% if order.payment_status == "SHIPPED" %}
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="step0"></li>
                </ul>
                {% endif %}
                {% if order.payment_status == "DELIVERED" %}
                <ul id="progressbar" class="text-center">
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class="active step0"></li>
                    <li class=" active step0"></li>
                </ul>
                {% endif %}
                </div>
            </div>
            <div class="row justify-content-between top">
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/9nnc9Et.png" >
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>Processed</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/u1AzR7w.png" >
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>Shipped</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/TkPm63y.png"  >
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>En Route</p>
                    </div>
                </div>
                <div class="row d-flex icon-content">
                    <img class="icon" src="https://i.imgur.com/HdsziHP.png"  >
                    <div class="d-flex flex-column">
                        <p class="font-weight-bold">Order<br>Arrived</p>
                    </div>
                </div>
            </div>
            
            </div>
            </div>
            <div class='ml-4 mb-2'>
         
              {% if order.payment_status == 'DELIVERED' %}
                <a href="#"  onclick="addToWallet('{{ order.id }}')" >  
                <button class="btn btn-outline-danger">Return Order</button>
                </a>       
              {% elif order.payment_status == 'ORDERED' %}
                  {% if order.payment_method == 'PREPAID' %}
                  <a href="#" onclick="initiateRefundAndCancelOrder('{{ order.id }}')">  
                  <button class="btn btn-outline-danger ">Cancel Order</button>
                  </a>
                  {% elif order.payment_method == 'WALLET' %}
                  <a href="#" onclick="WalletRefundAndCancelOrder('{{ order.id }}')">  
                  <button class="btn btn-outline-danger ">Cancel Order</button>
                  </a>
                  {% else %}
                  <a href=""  onclick="cancelOrder('{{ order.id }}')" >  
                  <button class="btn btn-outline-danger">Cancel Order</button>
                  </a>
                  {% endif %}
              {% endif %}           
             </div>
            <div class="card-footer border-0 px-4 py-5 "
              style="background-color: light-gray; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-black text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2">${{order.total_price}}</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
const toggleButton = document.getElementById('toggleButton');
const extraDiv = document.getElementById('extraDiv');

toggleButton.addEventListener('click', () => {
  if (extraDiv.style.display === 'none') {
    extraDiv.style.display = 'block';
  } else {
    extraDiv.style.display = 'none';
  }
});

</script>
<script>
  function initiateRefundAndCancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to initiate refund
    $.ajax({
      url: '/initiate_refund',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
          alert('Refund initiated, will be back in 2-7 days');
          $.ajax({
            url: '/_cancel_order' ,
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { order_id: orderId },
            success: function(response) {
              alert('Order has been succesfully cancelled')
              location.reload();
              // Order canceled successfully
              // Handle any additional actions or update the UI as needed
            },
            error: function(xhr, status, error) {
              console.log('Cancel order error:', error);
              // Handle the cancel order error if needed
            }
          });
      },
      error: function(xhr, status, error) {
          console.log('Refund error:', error);
          var errorMessage = xhr.responseJSON.error_message;
          alert(errorMessage);
      }
  });
}
}
  
  function WalletRefundAndCancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to initiate refund
    $.ajax({
      url: '/wallet_refund',
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
          $.ajax({
            url: '/_cancel_order' ,
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: { order_id: orderId },
            success: function(response) {
              alert('Order has been succesfully cancelled')
              location.reload();
              // Order canceled successfully
              // Handle any additional actions or update the UI as needed
            },
            error: function(xhr, status, error) {
              console.log('Cancel order error:', error);
              // Handle the cancel order error if needed
            }
          });
      },
      error: function(xhr, status, error) {
          console.log('Refund error:', error);
          var errorMessage = xhr.responseJSON.error_message;
          alert(errorMessage);
      }
  });
}
}
  
  function cancelOrder(orderId) {
    if (confirm("Are you sure you want to cancel this order?")) {
    // AJAX call to cancel the order
    $.ajax({
      url: '/_cancel_order' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Order has been succesfully cancelled')
        location.reload();
        // Order canceled successfully
        // Handle any additional actions or update the UI as needed
      },
      error: function(xhr, status, error) {
        console.log('Cancel order error:', error);
        // Handle the cancel order error if needed
      }
    });
  }
}
  
</script>

<script>
  function returnOrder(orderId) {
    // Perform cancellation logic here
    // ...
    {% comment %} $.ajax({
      url: '/_cancel_order' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        alert('Order has been succesfully R')
        location.reload();
        // Order canceled successfully
        // Handle any additional actions or update the UI as needed
      },
      error: function(xhr, status, error) {
        console.log('Cancel order error:', error);
        // Handle the cancel order error if needed
      }
    }); {% endcomment %}
  
    // Add money to the wallet
    addToWallet(orderId);
  }
  
  function addToWallet(orderId) {
    if (confirm("Are you sure you want to return this order?")) {
    // Logic to add the money to the wallet
    $.ajax({
      url: '/initiate_return' ,
      method: 'POST',
      headers: { 'X-CSRFToken': '{{ csrf_token }}' },
      data: { order_id: orderId },
      success: function(response) {
        $("#payment_status" ).text(response.payment_status);
        location.reload();
      },
      error: function(xhr, status, error) {
        console.log('Return order error:', error);
        // Handle the cancel order error if needed
      }
    }); 
    }
    // Display a success message
    
  }
  
</script>
{% endblock  %}