{% extends 'profile_base.html' %}
{% load static %}
{% block content %}
<!-- Card -->
<div class='ml-5 py-5 col-8'>


 <div class="card">

    <!-- Card image -->
    {% comment %} <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap"> {% endcomment %}
  
    <!-- Card content -->
    <div class="card-body "  style="font-family: Century Gothic;">
  
      <!-- Title -->
      <div class='bg-light d-flex justify-content-between col-12'>

          <h1 class='py-4 '>Wallet</h1>
          <img  src="https://cdn-icons-png.flaticon.com/512/3359/3359235.png"  alt="" width='50' height='30'>
      </div>
      {% if not wallet.money %}
      <h3 class='text-center py-5'>Wallet amount : 0</h3>

      {% else %}
      <h3 class='text-center py-5'>Wallet amount : {{wallet.money}}</h3>
      {% endif %}
      <!-- Button -->
  
    </div>
  
  </div>
  <!-- Card -->
</div>

<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
{% endblock  %}